<div class="container">
  <p>
    Main reason of a movie review is to inform the review reader about that
    movie quality and its characters. The review regulates whether someone will
    want to see the movie. Even so if that review length is too large its
    difficult to read and reader has to waste his/her time. To overcome this
    problem summarize all review and give one feedback to reader to get key idea
    of that movie is give more benefits to review reader.
  </p>
  <br />

  <div class="input-group mb-3">
    <!-- <div class="col-xs-9"> -->
    <div class="input-group-prepend">
      <!-- <span class="input-group-text" id="inputGroup-sizing-default">Default</span> -->
      <label class="input-group-text">Movie Name:</label>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Enter a movie name here..."
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
    <!-- </div> -->
  </div>
  <br />

  <button type="button" class="btn btn-outline-primary">Search</button>

  <br /><br /><br />

  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/details/1">Next</a>
    </li>
  </ul>

</div>
